{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">All Birds</h2>
    <div class="row">

        {% for bird in birds %}
            <div class="card" style="width: 18rem">
                <h5 class="card-header">{{bird.name}}</h5>
                <div class="card-body">
                    <h6 class="card-title">
                        
                    </h6>
                    <p class="card-text">
                        {{bird.description}}
                    </p>
                    
                    <a href="/birds/{{bird._id}}" class="btn btn-info">View {{bird.name}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}