{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/places" method="POST">
        <fieldset>
            <legend>Add A New Place!</legend>
            <label class="form-label">Name:</label>
            <input 
                class="form-control" 
                type="text" 
                name="name" 
                placeholder="Enter A Name!"
            >
            <label class="form-label">Description:</label>
            <input 
                class="form-control" 
                type="text" 
                name="description" 
                placeholder="Describe it!"
            >
            <label class="form-label">Image:</label>
            <input 
                class="form-control" 
                type="text" 
                name="img" 
                placeholder="Drop a link to a photo!"
            >
            <legend>OPTIONAL: Add an address!</legend>
            <label class="form-label">Street Number:</label>
            <input 
                class="form-control" 
                type="text" 
                name="address.number" 
                placeholder="555"
            >
            <label class="form-label">Street Name:</label>
            <input 
                class="form-control" 
                type="text" 
                name="address.streetName" 
                placeholder="Main"
            >
            <label class="form-label">Street Type:</label>
            <input 
                class="form-control" 
                type="text" 
                name="address.streetType" 
                placeholder="street, avenue, court, etc"
            >
            <label class="form-label">City:</label>
            <input 
                class="form-control" 
                type="text" 
                name="address.city" 
                placeholder="Townsville"
            >
            <label class="form-label">State:</label>
            <input 
                class="form-control" 
                type="text" 
                name="address.state" 
                placeholder="MA, NY, CO, etc"
            >
            
        </fieldset>

        <input 
            type="submit" 
            value="Add Place!" 
            class="btn btn-success"
        >
    </form>
</div>
{% endblock %}