{% layout 'layout.liquid' %}
{% block content %}

<h1>Welcome to birdr, your personal bird tracking app!</h1>
<div class="card">
    <h3 class="card-header">See All Birds</h3>
    <div class="card-body">
        
    </div>
</div>



{% endblock %}