{% layout 'layout.liquid' %}
{% block content %}

<h1>Welcome to birdr, your personal bird tracking app!</h1>
<p><a href="/users/login">Log in</a> and <a href="/birds/new">add</a> a new bird species, <a href="/places/new">add</a> a new place, or just <a href="/birds">view all</a> the birds we have so far!</p>



{% endblock %}