{% layout 'layout.liquid' %}
{% block content %}

<h1>Welcome to birdr, your personal bird tracking app!</h1>
<h2>Start by <a href="/places/new">adding</a> some of the places you see birds or would like to see birds!
</h2>

{% endblock %}