body {
    background-color: white;
}

.card {
    margin: 5px;
    align-content: center;

}

img {
    width: 250px;
    height: 225px;
}

.nav-link {
    margin: 10px;
}

.btn {
    margin: 5px;
}

.search_select_box {
    max-width: 400px;
    margin: 80px auto;
}

.search_select_box select {
    width: 100px
}

h2 {
    text-align: center;
    margin-top: 10px;
}

h1 {
    text-align: center;
    margin-top: 10px;
}